@model KisiselWebProjesi.Models.Siniflar.AnaSayfa
@{
    ViewBag.Title = "AnaSayfaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mt-4">Ana Sayfa Güncelle</h2>
<hr />

@using (Html.BeginForm("AnaSayfaGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.isim)
    @Html.TextBoxFor(x => x.isim, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.menugorsel)
    @Html.TextBoxFor(x => x.menugorsel, new { @class = "form-control" })
    @Html.LabelFor(x => x.bilgi)
    @Html.TextAreaFor(x => x.bilgi, new { @class = "form-control" })
    @Html.LabelFor(x => x.marka)
    @Html.TextBoxFor(x => x.marka, new { @class = "form-control" })
    <button class="btn btn-success">Ana Sayfa Güncelle</button>
}


